version: '3'
services:
  app:
    build: .
    ports:
      - "${VITE_PORT}:${VITE_PORT}"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    restart: unless-stopped
