/* style sheet for the Home page and the room creation pages */

.translucent-box {
  background-color: rgba(256, 256, 256, 0.75);
  overflow: auto;
  height: calc(100vh);
  width: 600px;
}

.full-translucent-box {
  background-color: rgba(256, 256, 256, 0.75);
  overflow: auto;
  height: 100vh;
  width: 100%;
}

.home-button {
  top: 22px;
  left: 0px;
  height: 90px;
  width: 90px;
}


.dark-button {
  background-color: red;

}

.white-button {
  color: white;
}